{% extends 'layout.html' %}
{% block content %}

<div class="flex">
    <div class="mx-4">
        <div class="box | text-3xl | border-2 border-solid border-blue-400">
            <div id="title">
                Facilities <span class="text-blue-400">Availability</span> 
            </div>
            <div>
                <p class="text-xl">
                    Check the nearest available facilities!
                </p>
            </div>
        </div>
        <div class="box | text-3xl | border-2 border-solid border-blue-400">
            <div>
                Facilities <span class="text-blue-400">Booking</span>
            </div>
            <div>
                <p class="text-xl">
                    Book your facilities now and start playing!
                </p>
            </div>
        </div>
        <div class="box | text-3xl | border-2 border-solid border-blue-400">
            <div>
                Other <span class="text-blue-400">Functions</span>
            </div>
            <div>
                <p class="text-xl">
                    Some additional functions and events
                </p>
            </div>
        </div>
    </div>
    

    <div class="box | mx-4 | w-2/3 | border-2 border-solid border-blue-400">
        <h1 class="text-3xl">
            Welcome Back, <span class="text-blue-400 text-4xl">User</span>
        </h1>
        <div class="ml-4">
            <fieldset class="">
                <span class="text-2xl">Your Booking(s)</span>
                <!-- example -->
                <p class="border-b-2 border-solid border-grey-400 | w-fit | py-2">20th August 2023 @ 08.00am - Yio Chu Kang Stadium <span class="text-blue-400">Badminton Court</span></p>
                <p class="border-b-2 border-solid border-grey-400 | w-fit | py-2">27th August 2023 @ 02.00pm - Bishan Stadium <span class="text-blue-400">Basketball Court</span></p>
                <p class="border-b-2 border-solid border-grey-400 | w-fit | py-2">13th September 2023 @ 08.00am - Hougang Stadium <span class="text-blue-400">Football Field</span></p>
                <a href="" class="text-blue-800 | text-sm | opacity-60">View All Bookings</a>
            </fieldset>
        </div>
    </div>
</div>


{% endblock %}