{% extends 'layout.html' %}
{% block content %}

<h1 class='text-center | mt-15 | mb-10 | p-4'>Booking History</h1>

<table class="table | border-1 | m-4 | fs-5 | text-center | mx-auto" style="width:70%">
    <thead>
        <tr>
            <th scope='col' style="width:25%">Booking ID</th>
            <th scope='col' style="width:25%">Facility</th>
            <th scope='col' style="width:25%">Date</th>
            <th scope='col' style="width:25%">Timeslot</th>
        </tr>
    </thead>
    <tbody>
        {%for booking in bookingsList%}
            <tr>
                <td style="width:25%">{{booking.get_booking_id()}}</td>
                <td scope='col' style="width:25%">{{booking.get_facility()}}</td>
                <td scope='col' style="width:25%">{{booking.get_date()}}</td>
                <td scope='col' style="width:25%">{{booking.get_timeslot()}}</td>
            </tr>
        {%endfor%}
        <tr>
            <td style="width:25%">1511202256BD1917A</td>
            <td scope='col' style="width:25%">56BD1</td>
            <td scope='col' style="width:25%">15-11-2022</td>
            <td scope='col' style="width:25%">1pm to 2pm</td>
        </tr>
        <tr>
            <td style="width:25%">1711202256BD2B851</td>
            <td scope='col' style="width:25%">56BD2</td>
            <td scope='col' style="width:25%">17-11-2022</td>
            <td scope='col' style="width:25%">11am to 12am</td>
        </tr>
        <tr>
            <td style="width:25%">1911202256BB11CB4</td>
            <td scope='col' style="width:25%">56BB1</td>
            <td scope='col' style="width:25%">19-11-2022</td>
            <td scope='col' style="width:25%">6pm to 7pm</td>
        </tr>
    </tbody>
</table>

{% endblock %}