{% extends 'layout.html' %}
{% block content %}

<h1 class='text-center | mt-15 | mb-10 | p-4'>Edit Booking</h1>

<div class='container py-3 | bg-light | rounded-3 border-dark border-2 border | my-3'>
    <section>
        <form action="" method="post" class='container-sm'>
            {{formsBooking.hidden_tag()}}

            {{formsBooking.bookingFacilityLocation.label(class='text-dark | fs-4 | float-start | ms-2 | form-check-label')}}
            {%if formsBooking.bookingFacilityLocation.errors%}
            <div>
                {{formsBooking.bookingFacilityLocation(class='form-control | my-2 | border-danger')}}
            </div>
            {%for errors in formsBooking.bookingFacilityLocation.errors%}
                <span class='text-danger | float-end'>{{errors}}</span>
            {%endfor%}
            {%else%}
            <div>
                {{formsBooking.bookingFacilityLocation(class='form-control | my-2')}}
            </div>
            {%endif%}

            {{formsBooking.bookingFacilityID.label(class='text-dark | fs-4 | float-start | ms-2 | form-check-label')}}
            {%if formsBooking.bookingFacilityID.errors%}
            <div>
                {{formsBooking.bookingFacilityID(class='form-control | my-2 | border-danger')}}
            </div>
            {%for errors in formsBooking.bookingFacilityID.errors%}
                <span class='text-danger | float-end'>{{errors}}</span>
            {%endfor%}
            {%else%}
            <div>
                {{formsBooking.bookingFacilityID(class='form-control | my-2')}}
            </div>
            {%endif%}

            {{formsBooking.bookingDate.label(class='text-dark | fs-4 | float-start | ms-2')}}
            <div>
                {{formsBooking.bookingDate(class='form-control | my-2')}}
            </div>

            {{formsBooking.bookingTimeSlot.label(class='text-dark | fs-4 | float-start | ms-2')}}
            {%if formsBooking.bookingDate.errors%}
            <div>
                {{formsBooking.bookingTimeSlot(class='form-control | my-2 | border-danger')}}
            </div>
            {%for errors in formsBooking.bookingDate.errors%}
                <span class='text-danger | float-end'>{{errors}}</span>
            {%endfor%}
            {%else%}
            <div>
                {{formsBooking.bookingTimeSlot(class='form-control | my-2')}}
            </div>
            {%endif%}

            <div class="text-center | my-4 mx-auto | " style='width:50%'>
                {{formsBooking.submit(class='btn btn-primary')}}
            </div>
        </form>
    </section>
</div>

{% endblock %}