{% extends 'layout.html' %}
{% block content %}

<nav class="navbar bg-light">
    <div class="container-fluid | py-2">
        <p class="font-monospace | my-auto | text-center | fs-3" style='width:100vw'><span class="text-primary">User</span> Database</p>
      <form class="d-flex | end-0 position-absolute | pe-2" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class='mx-auto' style="width:70%">
    <table class="table">
        <thread>
           <th scope="col" class='ps-5'>UID</th>
           <th scope="col">Username</th>
           <th scope="col">F. Name</th>
           <th scope="col">L. Name</th>
           <th scope="col">Email</th>
           <th scope="col"></th>
           <th scope="col"></th>
        </thread>
        {%for user in userList%}
        <tbody>
            <tr>
                <th scope="col" class='ps-5'>{{user.get_uid()}}</th>
                <td scope="col"><a href='#' class='text-decoration-none' data-bs-toggle='modal' data-bs-target='#userModal'>@{{user.get_username()}}</a></td>
                <td scope="col">{{user.get_firstName()}}</td>
                <td scope="col">{{user.get_lastName()}}</td>
                <td scope="col">{{user.get_email()}}</td>
                <td>
                    <form action="" method='POST'class='col-auto'>
                        <input type='submit' value='Edit' class='btn btn-success'>
                    </form>
                </td>
                <td>
                    <form action="" method='POST'class='col-auto'>
                        <input type='submit' value='Delete' class='btn btn-danger'>
                    </form>
                </td>
            </tr>
        </tbody>
        {%endfor%}
    </table>

</div>

{% endblock %}