{%extends 'layout.html'%}
{%block content%}

<h1 class='p-4'>
    Happening in <span class='text-primary | fst-italic'>ActivePlay</span>
</h1>
<section class='ms-5'>
    <div class=''>
        {%for event in eventsList%}
        <h1 class='ms-5'><span class='fs-2 | text-primary'>{{event.get_eventName()}}</span></h1>
        <div class='ms-5 | bg-light | border-secondary border-2 border | rounded' style='width:80%'>
            <p class='p-2'>
                <span class='fs-4'>What's Happening?</span> <br> {{event.get_eventDesc()}}
            </p>
            <p class='ps-2'>
                Vacancy : {{event.get_eventVacancy()}}
            </p>
            <p class='ps-2'>
                ID : <span>{{event.get_eventType()}}{{event.get_eventID()}}</span>
            </p>
        </div>
        {% endfor %}
    </div>
</section>


{%endblock%}